body{
  background: #E1D5C9;

  }
.button {
  width: 25%;
  margin: 0 auto;
  background:#9c7099;
  padding: 13px;
  border:2px;
  border-radius: 30px/40px;
  background-clip: padding-box;
  color: black;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background:#C89E85;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background:#fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  /* background-color: #091dcf; */
}
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
#header {
  clear: both;
  height: 120px;
  width: 100%;
  padding: 0 0 0 0;
  background:#E1D5C9;
  margin-bottom: 26px;
  }
  #logo {
  padding-left: 15px;
  padding-top: 7px;
  float: left;
  }
  #companyname {
  color:black;
  padding-top: 22px;
  text-align: center;
  float:left;
  padding-left:30%;
  }
  #companyname h1 {
    font-size: 175%;
    text-align: center;
  }
  #logo2 {
  margin-top: 7px;
  padding-right: 15px;
  float:right;
  }
  .form{
    text-align: center;
  }
